{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/bg.css' %}">
    <link rel="stylesheet" href="{% static 'css/h2.css' %}">
</head>
<body>
    <center>
        <h1>F1 Formula1</h1>
        <img src="{% static 'images/lewis.jpeg' %}" alt="">
        <h3>Lewis Hamilton </h3>
    </center>
</body>
</html>